In [ ]:
type("Hello world!")

str

In [ ]:
str1 = "abc"
str2 = "1234"

print(len(str1))
print(len(str2))

3
4

4.1 Review Exercises
1. Double quote string using escape
2. String w/ apostrophe
3. Multiline string w/ whitespace
4. Multiline string no whitespace

In [ ]:
print("\"Double quote string\"")

"Double quote string"

In [ ]:
print("No he didn\'")

No he didn'

In [ ]:
print("""This      
has the         whitespace 
    preserved""")

This
has the         whitespace
    preserved

In [ ]:
print("This \
gets \
printed \
on \
a \
single \
line.")

This gets printed on a single line.

4.2 Review Exercises
1. Use len to print length of string
2. Concatenate two strings
3. Concatenate two strings and add space between
4. Print slice of string

In [ ]:
example_str = "Vijval Rajan"
print(len(example_str))

12

In [ ]:
one = "Java"
two = "Script"
print(one+two)

JavaScript

In [ ]:
first = "Vijval"
last = "Rajan"
print(first + " " + last)

Vijval Rajan

In [ ]:
sheldon = "bazinga"
print(sheldon[2:6])

zing

In [ ]:
4.3 Review Exercises
1. Make strings lowercase
2. Make strings uppercase
3. Remove whitespace
4. Use .startswith()
5. Modify p4

In [ ]:
animals = ["Animals", "Badger", "Honey Bee", "Honey Badger"]
for i in range(len(animals)):
  print(animals[i].lower())

animals
badger
honey bee
honey badger

In [ ]:
for i in range(len(animals)):
  print(animals[i].upper())

ANIMALS
BADGER
HONEY BEE
HONEY BADGER

In [ ]:
s1 = "     Filet Mignon"
s2 = "Brisket       "
s3 = "      Cheeseburger     "
print(s1.lstrip());
print(s2.rstrip());
print(s3.strip());

Filet Mignon
Brisket
Cheeseburger

In [ ]:
strings = ["Becomes", "becomes", "BEAR", "    bEautiful"]
for c in range(len(strings)):
  print(strings[c].startswith("be"))

False
True
False
False

In [ ]:
strings_improved = ["becomes", "becomes", "bear", "beautiful"]
for c in range(len(strings_improved)):
  print(strings_improved[c].startswith("be"))

True
True
True
True

4.4 Review Exercies
1. Echo input from user
2. Echo lowercase input from user
3. Write number of characters in input

In [ ]:
r1 = input("Write something: ")
print(r1)

Write something: Vijval
Vijval

In [ ]:
r2 = input("Write uppercase: ")
print(r2.lower())

Write uppercase: VIJVAL
vijval

In [ ]:
r3 = input("Write something, we'll output length: ")
print(len(r3))

print("hello".isalnum())

Write something, we'll output length: bing
4
True

4.5 Challenge:
- Prompt user for input
- Return uppercase first character

In [ ]:
def first_letter():
  first_letter = input("Tell me your password: ")
  if (first_letter.isalnum() != True):
      print("Invalid string")
  else:
      print(first_letter[0].upper())

first_letter()

Tell me your password: password
P

4.6 Review Exercises
1. Convert string to integer
2. Convert string to float
3. Display str and int
4. Multiply two inputs

In [ ]:
twelve_int = "12"
print(int(twelve_int))

12

In [ ]:
twelve_float = "12.0"
print(float(twelve_float))

12.0

In [ ]:
my_str = "100"
my_int = 100
print(my_str + " " + str(my_int))

100 100

In [ ]:
def mult():
  m1 = int(input("Enter first: "))
  m2 = int(input("Enter second: "))
  return m1*m2
mult()

Enter first: 3
Enter second: 4

12

In [ ]:
4.7 Review
1. Use concatenation to output string
2. Use format strings to output
3. Use f-strings to output

In [ ]:
weight = 0.2
animal = "newt"
print(str(weight) + " kg is the weight of the " + animal)

0.2 kg is the weight of the newt

In [ ]:
print("{} kg is the weight of the {}".format(weight, animal))

0.2 kg is the weight of the newt

In [ ]:
print(f"{weight} kg is the eight of the {animal}")

0.2 kg is the eight of the newt

4.8 Review
1. Find "a" in "AAA"
2. Replace every occurence of 's' with 'x'
3. Find program

In [ ]:
print("AAA".find("a"))

-1

In [ ]:
print("Somebody said something to Samantha.".replace("s", "x"))

Somebody xaid xomething to Samantha.

In [ ]:
def find_char():
  response = input("Please input a word: ")
  let = input("Input a letter: ")
  return response.find(let)
find_char()

Please input a word: Boom
Input a letter: b

-1

4.9 Turn text inputted into leetspeak

In [ ]:
def leetspeak(str):
  str = str.replace("a", "4")
  str = str.replace("b", "8")
  str = str.replace("e", "3")
  str = str.replace("l", "1")
  str = str.replace("o", "0")
  str = str.replace("s", "5")
  str = str.replace("t", "7")
  return str

gibberish = "I like to eat eggs and spam."
print(leetspeak(gibberish))

I 1ik3 70 347 3gg5 4nd 5p4m.