6.2 Review exercises
1. cube() function that returns cube of input
2. greet() function that returns greeting

In [1]:
def cube(num) :
  return num**3

print(cube(2))

8

In [3]:
def greet(name) :
  return "Hello " + name + "!"

print(greet("Vijval"))

Hello Vijval!

6.3 Challenge

In [6]:
def convert_cel_to_far(celsius) :
    return celsius * 9/5 + 32

print(convert_cel_to_far(20))

68.0

In [8]:
def convert_far_to_cel(far) :
    return (far - 32) * 5/9
print(convert_far_to_cel(68))

20.0

In [15]:
def full_convert() :
    far1 = float(input("Enter a temperature in degrees F: "))
    cel1 = convert_far_to_cel(far1) 
    print(f"{far1:.2f} degrees F = {cel1:.2f} degrees C")

    cel2 = float(input("Enter a termperature in degrees C: "))
    far2 = convert_cel_to_far(cel2)
    print(f"{cel2:.2f} degrees C = {far2:.2f} degrees F")

full_convert()

Enter a temperature in degrees F: 43.23
43.23 degrees F = 6.24 degrees C
Enter a termperature in degrees C: 20.00
20.00 degrees C = 68.00 degrees F

6.4 Review
1. Print 2-10 using range()
2. Print 2-10 usng while
3. doubles() function that doubles a number 3 times

In [17]:
for i in range(2,11):
  print(i)

2
3
4
5
6
7
8
9
10

In [22]:
stop = 2
while (stop != 11):
  print(stop)
  stop += 1

2
3
4
5
6
7
8
9
10

In [23]:
def doubles(num):
  print(num * 2)
  print(num * 4)
  print(num * 8)

doubles(100)

200
400
800

6.5 Challenge

In [27]:
def invest(amount, rate, years):
  for i in range(1, (years+1)):
    ret = amount*((1 + rate) ** i)
    print(f"year {i}: ${ret:.2f}")

invest(100, .05, 5)

year 1: $105.00
year 2: $110.25
year 3: $115.76
year 4: $121.55
year 5: $127.63